@import "../../variables";

.navcont {
  height: 5.5rem;
  /* position: fixed; */
  width: 100%;
  z-index: 5;
  background-color: color(85-black);
}

#navP {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-align: left;
  font-family: $rubik;
}

#navA {
  width: 100%;
  color: color(primary-yellow) !important;
  text-align: left;
  text-decoration: none;
  font-family: $rubik;
}

#navA:hover {
  color: color(hover-yellow) !important;
  text-decoration: underline;
}

#navPR {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-align: right;
  font-family: $rubik;
}

#navAR {
  width: 100%;
  color: color(primary-yellow) !important;
  text-align: right;
  text-decoration: none;
  font-family: $rubik;
}

#navAR:hover {
  color: color(hover-yellow) !important;
  text-decoration: underline;
}

.textAlignL {
  text-align: left;
  padding-top: 1rem;
}

.textAlignR {
  text-align: right;
  padding-top: 1rem;
  font-family: $playfair;
}

#phone {
  line-height: 0.01rem;
  text-align: center;
  font-family: $rubik;
}

#phone a {
  padding-left: 0rem;
  font-family: $rubik;
}

#logo {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  // background: #f8f8f914;
  box-shadow: 0 0.2rem 0.1rem color(35-black);
  z-index: 999;
}

#q {
  text-align: center;
}

#navLogo {
  text-align: center;
  width: 100%;
}
