.mobileContact{
    color: #ffcc54;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Rubik', sans-serif;
}

.mobileContactText{
    font-size: 0.75rem;
    font-weight: 400;
    text-align: right;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
    color: lightgrey;
    font-family: 'Rubik', sans-serif;
}

.mobileGoogle{
    margin-bottom: 3rem;
}

.mobileFacebook{
    margin-top: 3rem;
    margin-bottom: 7rem;
}