.mobileHomeHero{
    padding-top: 1rem;
}

.mobileHeroImg{
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.mobileAboutSec{
    width: 100%;
    text-align: center;
    color: #a2a2a2;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 8rem;
}

.mobileHeading{
    font-family: "Playfair Display", serif;
    padding-bottom: 1rem;
    padding-top: 3rem;
}