/* * { 
  outline: 1px solid palegreen;
  outline-offset: -1px;
} */

html {
  width: auto !important;
  overflow-x: hidden !important;
}

.App {
  /* margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden !important; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 0.875rem(14px) @ 20rem(320px) increasing to 1.3125rem(21px) @ 128rem(2048px) */
@media (min-width: 20rem) {
  :root {
    font-size: calc(0.875rem + ((1vw - 0.2rem) * 0.4051));
    /* Where: * 0.4051 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 128rem) {
  :root {
    font-size: 1.3125rem;
  }
}

/* 
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-itrem {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 0.06rem 0.06rem 0 0.06rem;
} */

/* #tabSection {
  background-image: linear-gradient(rgb(10, 10, 43), rgb(48, 48, 77));
} */

#carouselrow {
  margin-bottom: 5rem;
}

.grey1 {
  height: 28rem;
  background-color: #f8f8f9;
  position: relative;
  z-index: -5;
}

.white1 {
  top: 28rem;
  height: 5rem;
  background-color: white;
  position: relative;
  z-index: -5;
}

.grey2 {
  top: 34rem;
  height: 34rem;
  background-color: #f8f8f9;
  position: relative;
  z-index: -4;
}

.darkblue1 {
  top: 20rem;
  height: 24rem;
  background-color: #111444;
  position: relative;
  z-index: -4;
}

.white2{
  top: 30rem;
  height: 32rem;
  background-color: white;
  position: relative;
  z-index: -5;
}

.darkblue2 {
  top: 40rem;
  height: 30rem;
  background-color: #111444;
  position: relative;
  z-index: -5;
}

#ttabs {
  /* padding-top: 3rem; */
}

#googlemaps{
  padding-top: 1rem;
  /* background-color: #111444; */
}

#mapsBorder{
  /* border: #104e7d 1rem solid; */
}

#socialfeeds{
  margin-top: 1rem;
}

#instafeed{
  /* border-top: solid #ffcc54; */
  border-bottom: solid #ffcc54;
  border-left: solid #ffcc54;
  border-right: solid #ffcc54;
}

#fbfeed{
  /* border-top: solid #ffcc54; */
  border-bottom: solid #ffcc54;
  border-left: solid #ffcc54;
}
/*
#googlemaps {
  height: 25.85rem;
  background-color: #012998;
  padding-top: 5rem;
  padding-bottom: 28rem;
}

/* #aboutUs {
  padding-top: 30rem;
} */

/* .container {
  outline: 1px solid blue;
  outline-offset: 6px;
}

.row {
  outline: 1px solid green;
  outline-offset: 3px;
}

.col {
  outline: 1px solid red;
  outline-offset: 0px;
} */

.nav-link.active,
.nav-item.show .nav-link {
  color: blue;
  background-color: red;
  border-color: black;
}

#whereToFind{
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  /* color: white; */
  font-family: 'Playfair Display', serif;
}

#wtfContainer{
  /* background-color: #104e7d ; */
}

h1, h2{
font-family: 'Playfair Display', serif;
}

