/* * { 
  outline: 1px solid red;
  outline-offset: -1px;
} */


html {
  width: auto !important;
  overflow-x: hidden !important;
}

.App {
  overflow: hidden !important;
}

.grey1 {
  width: 100vw;
  height: 30rem;
  background-color: lightgrey;
  opacity: 0.25;
  z-index: -999;
  position: absolute;
}

/* .App {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 52.5rem;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 0.875rem(14px) @ 20rem(320px) increasing to 1.3125rem(21px) @ 128rem(2048px) */
@media (min-width: 20rem) {
  :root {
    font-size: calc(0.875rem + ((1vw - 0.2rem) * 0.4051));
    /* Where: * 0.4051 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 128rem) {
  :root {
    font-size: 1.3125rem;
  }
}

h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
/* 
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-itrem {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 0.06rem 0.06rem 0 0.06rem;
} */

/* #tabSection {
  background-image: linear-gradient(rgb(10, 10, 43), rgb(48, 48, 77));
} */

/* #carouselSection{
  margin-bottom: 1rem;
} */

#ttabs {
  background-color: lightgrey;
  height: 13rem;
}

#googlemaps {
  height: 25.85rem;
  background-color: midnightblue;
  padding-top: 5rem;
  padding-bottom: 28rem;
}

#socialfeeds {
  height: 26rem;
  background-color: rgba(234, 234, 234, 0.5);;
  padding-top: 5rem;
  padding-bottom: 31rem;
}

#aboutUs {
  padding-top: 30rem;
}

.nav-link.active,
.nav-item.show .nav-link {
  color: blue;
  background-color: red;
  border-color: black;
}