#footerRow{
  background-color: #191919;
    /* padding: 7rem 1rem 7rem 1rem; */
    /* margin-top: 5rem; */
    border-top: #ffcc54 solid 2px;
}

#contact{
  color: #ffcc54;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding-top: .25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-top: 4rem;
  font-family: 'Rubik', sans-serif;
}

#contactText{
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  padding-top: .25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  color: white;
  font-family: 'Rubik', sans-serif;
}

#richardsLogo{
  text-align: center;
  color: #ffcc54;
  padding-top: 2rem;
}

#ourLogoSection{
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: #ffcc54 1px solid ;
}

#footerLogo{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#footerImg{
  border-style: none;
    text-align: center;
    width: 10rem;
    vertical-align: none !important;
}

#footerLogo{
  align-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}