#whereToFind{
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  /* color: white; */
  font-family: 'Playfair Display', serif;
}

#wtfContainer{
  /* background-color: #104e7d ; */
}


@media only screen and (max-width: 375px) {
  #whereToFind{
   padding-left: 1rem;
  }
}