.navcont {
  height: 4.55rem;
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: #3333338f;
}

#navP {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-align: left;
  font-family: "Rubik", sans-serif;
}

#navA {
  width: 100%;
  color: #ffcc54 !important;
  text-align: left;
  text-decoration: none;
  background-color: #84212100;
  font-family: "Rubik", sans-serif;
}

#navA:hover {
  color: #ffcc54ad !important;
  text-decoration: underline;
}

#navPR {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-align: right;
  font-family: "Rubik", sans-serif;
}

#navAR {
  width: 100%;
  color: #ffcc54 !important;
  text-align: right;
  text-decoration: none;
  background-color: #84212100;
  font-family: "Rubik", sans-serif;
}

#navAR:hover {
  color: #ffcc54ad !important;
  text-decoration: underline;
}

.textAlignL {
  text-align: left;
  padding-top: 0.5rem;
}

.textAlignR {
  text-align: right;
  padding-top: 0.5rem;
  font-family: "Playfair Display", serif;
}

#phone {
  line-height: 0.01rem;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

#phone a {
  padding-left: 0rem;
  font-family: "Rubik", sans-serif;
}

#logo {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background: #f8f8f914;
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.28);
  z-index: 999;
}

/* #icon {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
} */

#q {
  text-align: center;
}

#navLogo {
  text-align: center;
  width: 100%;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}