nav {
  background-color: white;
  height: 70px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  color: white;
  font-family: roboto;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 0.9;
}

#logo {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  border-radius: 50%;
  width: 165px;
  height: 165px;
  border: 1px;
  border-style: solid;
  border-color: lightgrey;
  background: rgb(250, 250, 250);
  z-index: 99;
}

#icon {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  top: ;
}

#phone h3{
  font-size: 1.7rem;
  padding-top: 5px;
}

#phone {
  font-size: 1.5rem;
  line-height: .5rem;
}