@import "../../variables";

#msText {
  width: 100%;
  text-align: left;
  color: color(85-black);
  font-size: 1.2rem;
  font-family: $rubik;
  padding-top: 0rem;
  padding-bottom: 7rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.aboutLawFirmTitle {
  padding-top: 5rem;
  padding-bottom: 4rem;
  font-family: $playfair;
}
