#msText{
    width: 100%;
    text-align: left;
    color:rgba(0, 0, 0, 0.777);
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    padding-top: 5rem;  
    padding-bottom: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }


    