/* .carousel-inner {
  opacity: 1;
} */

#headerSection {
position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#missionStatement{
  text-align: left;
  position: absolute;
  width: 100%;
  top: -14.5rem;
  color: white;
  font-family: 'Playfair Display', serif;
  
}

#msText{
  width: 100%;
  text-align: left;
  position: absolute;
  top:-11rem;
  color: #dadada;
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;

}

#aggresiveText{
  text-align: left;
  position: absolute;
  width: 100%;
  top: -18rem;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}


#span{
  color: #ffcc54;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
/* 104e7d */
/* .carousel-item {
  height: 25rem;
} */