#aboutUsTitle {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-family: "Playfair Display", serif;
}

#jaimeRow {
  margin-top: 3rem;
}

#greyLeft {
  background-color: rgba(0, 0, 0, 0.07);
}

#kevinPortrait {
  width: 100%;
  max-width: 500px;
  max-width: 500px;
  margin-top: 5rem;
}

#jaimePortrait {
  width: 100%;
  max-width: 500px;
  max-width: 500px;
  margin-top: 5rem;
}

#imgCard {
  height: 34rem;
  background-color: rgba(0, 0, 0, 0.07);
}

#lawyerCard {
  height: 34rem;
  background-color: rgba(0, 0, 0, 0.859);
  padding: 1rem;
}

#meetTitle {
  color: #ffcc54;
  text-align: left;
  padding-top: 1rem;
  font-family: "Playfair Display", serif;
}

#meeth3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding-top: 0.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "Playfair Display", serif;
}

#meeth4 {
  font-size: 0.6rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.671);
  font-family: "Rubik", sans-serif;
}

#meetp {
  font-size: 0.8rem;
  font-weight: 200;
  text-align: left;
  padding-right: 0.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Rubik", sans-serif;
  font-family: "Playfair Display", serif;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 450px) {
  #aboutUsTitle {
    padding-left: 1rem;
  }

  #greyLeft {
    background-color: blue;
  }

  #jaimeRow {
    margin-top: 0rem;
  }

  #imgCard {
    /* width: 100%; */
    height: auto;
    background-color: white;
  }

  #lawyerCard {
    height: 45rem;
    background-color: rgba(0, 0, 0, 0.859);
  }

  #kevinPortrait {
    margin-top: 0rem;
  }

  #jaimePortrait {
    margin-top: 3rem;
  }

  #meetTitle {
    padding-left: 1rem;
  }

  #meeth3 {
    font-size: 1.25rem;
    padding-left: 1rem;
  }

  #meeth4 {
    font-size: 1rem;
    padding-left: 1rem;
  }

  #meetp {
    font-size: 1rem;
    padding-right: 0.25rem;
    padding-left: 1rem;
  }
}
