.nav-tabs .nav-link.active {
  color: #c9e3fd;
  background-color: rgba(red, green, blue, .0);
  border-color: #dee2e6 #dee2e6 #fff;
}

.MuiTab-selected-52 {
  color: yellow;
}

.Tab[aria-selected="true"]{
  color: yellow;
}