#missionStatement{
  font-family: Roboto;
  color: white;
  font-size: 5em;
}

#msSection{
  background-color: white;
}

#msSection{
background-image: url(https://www.visitogden.com/imager/s3-us-west-1_amazonaws_com/ogden-craft/craft/historic_25th_street_december_2016_1694e1b2ccd168cee29a0179df2a7819.png);
width: 100%;
height: auto;
background-repeat: no-repeat;
background-size: cover;
}