.consultationContainer{
  margin-top: 5rem;
  /* margin-bottom: 5rem; */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: black;
}

#consultationText{
  color: #ffcc54;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  /* padding-top: .25rem; */
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  /* padding-top: 4rem; */
}

#consultationBtn{
  background: #ffcc54;
  color: #fff;
  display: inline-block;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 25px;
  cursor: pointer;
  text-decoration: none;
  float: right;
  /* margin-top: 1em; */
  border: 2px solid transparent;
}

#consultationBtn:hover {
  color: #fff;
  background: transparent;
  border-color: #fff;
}